@use "@styles/variables.scss" as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid vars.$white;
  padding: 1rem;
  border-radius: 8px;
  font-size: small;
}

.selectorContainer {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.selector {
  display: flex;

  .leftNode {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .rightNode {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .node {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    font-size: small;
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }
}

/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 1px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: vars.$white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px vars.$lightGreen;
  border: px solid vars.$lightGreen;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}
