@use "@styles/variables.scss" as vars;

.content {
  display: flex;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: vars.$green;
  border-radius: 4px;
  gap: 0.5rem;
}

.link {
  text-decoration: none;
}
