// Color scheme
// https://coolors.co/234340-f4f4f9-25272a-2e3138-07609c

$tabletBreakpoint: 768px;
$largeTabletBreakpoint: 1008px;
$laptopBreakpoint: 1200px;

$white: #f4f4f9;
$green: #234340;
$blue: #07609c;
$lighterGray: #151515;
$darkerGray: #151515;

$defaultTransitionProperty: all;
$defaultTransitionDuration: 250ms;
$defaultTransitionFunction: cubic-bezier(0.4, 0, 0.2, 1);
