// Color scheme
// https://coolors.co/23433f-f4f4f9-25272a-2e3138-07609c

$mobileBreakpoint: 480px;
$tabletBreakpoint: 768px;
$largeTabletBreakpoint: 1008px;
$laptopBreakpoint: 1200px;
$largeScreenBreakpoint: 2000px;

$white: #f4f4f9;
$lightGreen: #46867e;
$green: #23433f;
$blue: #07609c;
$lighterGray: #2e3138;
$darkerGray: #25272a;

$defaultTransitionProperty: all;
$defaultTransitionDuration: 250ms;
$defaultTransitionFunction: cubic-bezier(0.4, 0, 0.2, 1);
