@use "../styles/variables.scss" as vars;

.page {
  color: vars.$white;
}

.topContainer {
  display: flex;
  gap: 1rem;
  height: 70%;
  width: 100%;

  @media (width <= vars.$tabletBreakpoint) {
    flex-direction: column;
    height: 100%;
  }
}

.bio {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem;

  .name {
    font-family: "exo_2medium", sans-serif;
    font-size: xx-large;
  }

  .job {
    font-style: italic;
    font-size: large;
  }

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: none;
    transition-property: vars.$defaultTransitionProperty;
    transition-duration: 1.5s;
    transition-timing-function: vars.$defaultTransitionFunction;
    box-shadow: 0px 0px 5px rgba(244, 244, 249, 0);

    &:hover {
      rotate: -360deg;
      box-shadow: 0px 0px 10px rgba(244, 244, 249, 0.2);
    }
  }
}

.bottomContainer {
  width: 100%;
  height: 30%;
  border-radius: 12px;

  @media (width <= vars.$tabletBreakpoint) {
    display: none;
  }
}
