@use "../styles/variables.scss" as vars;

.page {
  color: vars.$white;
}

.topContainer {
  display: flex;
  gap: 1rem;
  height: 60%;
  width: 100%;

  @media (width <= vars.$tabletBreakpoint) {
    flex-direction: column;
    height: 100%;
  }
}

.bio {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem;

  .name {
    font-family: "exo_2medium", sans-serif;
    font-size: xx-large;
  }

  .job {
    font-style: italic;
    font-size: large;
  }

  .logo {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: none;
    transition-property: vars.$defaultTransitionProperty;
    transition-duration: 1.5s;
    transition-timing-function: vars.$defaultTransitionFunction;
    box-shadow: 0px 0px 5px rgba(244, 244, 249, 0);

    &:hover {
      rotate: -360deg;
      box-shadow: 0px 0px 10px rgba(244, 244, 249, 0.2);
    }
  }

  .linkContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    @media (width <= vars.$tabletBreakpoint) {
      display: flex;
      flex-direction: column;
    }

    .linkButton {
      padding: 0.15rem 0.75rem;
      background-color: vars.$green;
      width: 6rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      a {
        text-decoration: none;
      }
    }

    .icon {
      height: 1rem;
      width: 1rem;
    }
  }
}

.bottomContainer {
  width: 100%;
  height: 40%;
  border-radius: 12px;

  @media (width <= vars.$tabletBreakpoint) {
    display: none;
  }
}
