@use "../styles/variables.scss" as vars;

.page {
  color: vars.$white;
}

.container {
  width: 50%;
  height: 65%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: rgba(37, 39, 45, 0.65);
  gap: 1rem;

  @media (width <= vars.$laptopBreakpoint) {
    width: 65%;
  }

  @media (width <= vars.$tabletBreakpoint) {
    width: 75%;
    height: 90%;
  }
}

.topContainer {
  display: flex;
  gap: 1rem;
  height: 70%;
  width: 100%;

  @media (width <= vars.$tabletBreakpoint) {
    flex-direction: column;
    height: 100%;
  }
}

.bioContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  background-color: rgba(46, 49, 56, 0.75);
  border-radius: 12px;

  @media (width <= vars.$tabletBreakpoint) {
    height: 50%;
    width: 100%;
  }

  .name {
    font-family: "exo_2medium", sans-serif;
    font-size: xx-large;
  }

  .job {
    font-style: italic;
    font-size: large;
  }

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: none;
    padding: 0 1rem;
  }
}

.blogContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 1rem;
  background-color: rgba(46, 49, 56, 0.8);
  border-radius: 12px;

  @media (width <= vars.$tabletBreakpoint) {
    height: 50%;
    width: 100%;
  }
}

.synthContainer {
  width: 100%;
  height: 30%;
  background-color: rgba(46, 49, 56, 0.8);
  border-radius: 12px;

  @media (width <= vars.$tabletBreakpoint) {
    display: none;
  }
}
