@use "../../styles/variables.scss" as vars;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  background-color: rgba(46, 49, 56, 0.75);
  border-radius: 12px;
  box-sizing: border-box;

  @media (width <= vars.$tabletBreakpoint) {
    height: max-content;
    width: 100%;
  }
}

.fullWidthContainer {
  @extend .container;
  width: 100%;
}
