@use "@styles/variables.scss" as vars;

.top {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}

.middle {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
}
