@use "@styles/variables.scss" as vars;

.filterContainer {
  border: 1px solid vars.$white;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: small;
}

.filterParamsContainer {
  display: flex;
  gap: 0.75rem;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.envelopeLink {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  color: vars.$white;
}

.linked {
  color: vars.$white;
}

.sliders {
  display: flex;
  flex-direction: column;
}
