@use "@styles/variables.scss" as vars;

.filterParamsContainer {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.envelopeLink {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: vars.$white;
}

.linked {
  color: vars.$white;
}

.sliders {
  display: flex;
  flex-direction: column;
}
