@use "../../styles/variables.scss" as vars;

.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
}

.navContainer {
  height: 10%;
  width: inherit;
  display: flex;
  justify-content: space-around;

  .arrow {
    cursor: pointer;
    width: 35%;
  }

  .labelContainer {
    width: 30%;
    display: flex;
    justify-content: center;

    .label {
      font-size: x-small;
      width: fit-content;
      height: fit-content;
      text-align: center;
      border: 1px solid vars.$white;
      padding: 3px;
      border-radius: 4px;
      opacity: 1;

      transition-property: vars.$defaultTransitionProperty;
      transition-duration: 100ms;
      transition-timing-function: vars.$defaultTransitionFunction;
    }

    .hidden {
      @extend .label;
      opacity: 0;
    }
  }
}

.blogContainer {
  height: 90%;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 0.5rem;

  .buttonContainer {
    height: fit-content;
    width: inherit;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .button {
      cursor: pointer;
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: vars.$green;
      border: 1px solid vars.$green;
      border-radius: 4px;
    }
  }
}

.postContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .title {
    margin: 0;
  }

  .readingTime {
    font-style: italic;
    font-size: small;
  }
}
