@use "@styles/variables.scss" as vars;

.synthContainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
}

.top {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: center;

  .waveformSelector {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid vars.$white;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: small;

    .waveforms {
      display: flex;
      gap: 1rem;
    }

    .wavePane {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .osc2 {
    display: flex;
    flex-direction: column;
    font-size: small;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 2px solid vars.$white;
    border-radius: 8px;
  }
}

.arrow {
  height: 100%;
  width: 1rem;
  cursor: pointer;
}

.bottom {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
