@use "@styles/variables.scss" as vars;
/* From Uiverse.io by Galahhad */
/* level settings 👇 */

.slider {
  /* slider */
  --slider-width: 100%;
  --slider-height: 10px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */
  --level-color: #fff;
  --level-transition-duration: 0.1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px;
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.25rem;
}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: vars.$white; /* thumb color */
  border-radius: 50%; /* makes it round */
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* optional shadow */
}

.slider .level::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: vars.$white;
  border-radius: 50%;
  cursor: pointer;
  border: none; /* removes default border */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

// .slider:hover .level {
//   height: calc(var(--slider-height) * 2);
// }

/* --- end --- */
